In [33]:
import pandas as pd
import numpy as np
import yfinance as yf
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

In [2]:
AAPL = yf.Ticker("AAPL")

# show actions (dividends, splits)
AAPL.actions

# show dividends
AAPL.dividends

# show splits
AAPL.splits

Date
1987-06-16    2.0
2000-06-21    2.0
2005-02-28    2.0
2014-06-09    7.0
2020-08-31    4.0
Name: Stock Splits, dtype: float64

In [3]:
stock = yf.download('AAPL') #Getting the data from Apple

[*********************100%***********************]  1 of 1 completed

In [28]:
#Creating the DataFrame
df = pd.DataFrame(stock, columns=['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Target'])

df

,Open,High,Low,Close,Adj Close,Volume,Target
Date,,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.100600,469033600,NaN
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.095352,175884800,NaN
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.088353,105728000,NaN
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090540,86441600,NaN
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.093165,73449600,NaN
...,...,...,...,...,...,...,...
2021-09-27,145.470001,145.960007,143.820007,145.369995,145.369995,74150700,NaN
2021-09-28,143.250000,144.750000,141.690002,141.910004,141.910004,108972300,NaN
2021-09-29,142.470001,144.449997,142.029999,142.830002,142.830002,74602000,NaN
2021-09-30,143.660004,144.380005,141.279999,141.500000,141.500000,88934200,NaN
2021-10-01,141.899994,142.919998,139.110107,142.649994,142.649994,94639581,NaN

In [29]:
df['Target'].iloc[0] = 0 #Starting the target with 0 for the first value

df

C:\Users\vsgui\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,Open,High,Low,Close,Adj Close,Volume,Target
Date,,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.100600,469033600,0.0
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.095352,175884800,NaN
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.088353,105728000,NaN
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090540,86441600,NaN
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.093165,73449600,NaN
...,...,...,...,...,...,...,...
2021-09-27,145.470001,145.960007,143.820007,145.369995,145.369995,74150700,NaN
2021-09-28,143.250000,144.750000,141.690002,141.910004,141.910004,108972300,NaN
2021-09-29,142.470001,144.449997,142.029999,142.830002,142.830002,74602000,NaN
2021-09-30,143.660004,144.380005,141.279999,141.500000,141.500000,88934200,NaN
2021-10-01,141.899994,142.919998,139.110107,142.649994,142.649994,94639581,NaN

In [30]:
#Creating the loop  that will create the target value for each day
#1 = Adj close was higher than the day before
#0 = Adj close was lower than the day before

i= 1
j = 0

while True:
    
    if(df.iat[i, 4] -  df.iat[j, 4] > 0):
        df.iat[i, 6] = 1
        i = i + 1
        j = j + 1
    else:
        df.iat[i, 6] = 0
        i = i + 1
        j = j + 1
    
    if i == 10289:
        break

In [32]:
df

,Open,High,Low,Close,Adj Close,Volume,Target
Date,,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.100600,469033600,0.0
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.095352,175884800,0.0
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.088353,105728000,0.0
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090540,86441600,1.0
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.093165,73449600,1.0
...,...,...,...,...,...,...,...
2021-09-27,145.470001,145.960007,143.820007,145.369995,145.369995,74150700,0.0
2021-09-28,143.250000,144.750000,141.690002,141.910004,141.910004,108972300,0.0
2021-09-29,142.470001,144.449997,142.029999,142.830002,142.830002,74602000,1.0
2021-09-30,143.660004,144.380005,141.279999,141.500000,141.500000,88934200,0.0
2021-10-01,141.899994,142.919998,139.110107,142.649994,142.649994,94639581,1.0

In [34]:
#Using SkLearn to build the algorithm, in this case we are going to use Random Forest based on Gaussian Classifier

X = df[['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']] #Features
y = df[['Target']] #Labels

#Time to split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3) #70% training and 30% testing

In [39]:
#Create a Guassian Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train, y_train.values.ravel())

y_pred=clf.predict(X_test)

In [40]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7197926789763525